## Numerous always-ignore items
*.diff
*.err
*.log
*.swp
*.vi
*~

## OS or Editor folders
*.sublime-workspace
*.sublime-projects
.DS_Store
.cache
.idea
.project
.settings
.tmproj
.iml
Thumbs.db
desktop.ini
nbproject
.history

*.gz
*.tgz
release
dist
lib
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

temp

node_modules

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.yarn/versions

.pnp.*
.yarn/cache

# test results
test-results-*.json
results.json
**/test-results
reports/

